.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, max-content));
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.categoryTitle {
    display: flex;
    align-items: center;
    font-family: Arial;
    gap: 5%;
}

.categoriesButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 30px;
    color: #2bbb12; 
    border: 2px solid #2bbb12; 
    text-decoration: none;
}